/* Colores*/
/* Fuentes*/
.servicios-precios, .contenedor-titulo, .galeria-container-ux, .galeria-container-3d, .galeria-container-il {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fondo-inicio {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.formulario-general .contacto-form, .container-contacto, .section-clientes, .herramientas-inicio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.border-gal, .galeria .galeria-imagenes .imagen img {
  box-shadow: 5px 5px 10px black;
  border: 2px solid black;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primero: #E2E2E2;
  --segundo:#BBBAC6;
  --tercero:#B7CECE;
  --cuarto: #6E7E85;
  --quinto:#1C0F13;
  --lexend: "Lexend", sans-serif;
  --over-pass: "Overpass", sans-serif;
  --logo-blackrose: "Vujahday Script";
  --titulo-sobremi: "Dela Gothic One";
}

main section {
  font-family: "Lexend", sans-serif;
  font-family: "Overpass", sans-serif;
}

/* #####----Header-----(Logo y navegacion)##### */
header .container-fluid {
  background-color: #F5EFFF;
}

.navbar {
  padding: 0px;
}

.navbar a:hover {
  text-decoration: underline;
  color: #A594F9;
}

#navbarNav {
  justify-content: end;
  font-size: 20px;
}

.nombre-logo {
  font-size: 50px;
  font-family: var(--logo-blackrose);
}

/* Header-End */
/* #####----Descripcion-----##### */
.fondo-inicio {
  background-color: #F5EFFF;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23e5d9f2' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23cdc1ff' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23e2d5f4' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23d6caff' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23ded0f7' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23dfd3ff' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23d9cbf9' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23e7ddff' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23d4c6fc' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%23eee6ff' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23cdc1ff' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23f5efff' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  flex-wrap: wrap;
  /* #####----Imagenes-INDEX-----##### */
}
.fondo-inicio .descripcion-contenido {
  margin: 20px;
  max-width: 100%;
  width: 350px;
  height: auto;
  padding: 20px;
}
.fondo-inicio .descripcion-contenido .descripcion-titulo {
  padding-bottom: 15px;
  text-align: center;
  color: #A594F9;
  font-size: 48px;
}
.fondo-inicio .descripcion-contenido .descripcion-texto {
  width: auto;
  height: auto;
  color: #A594F9;
  font-size: 24px;
}
.fondo-inicio .banner-img {
  margin-top: 30px;
}
.fondo-inicio .banner-img .imagenes-subtitulo {
  text-align: center;
  font-size: 30px;
  color: #7371FC;
}
.fondo-inicio .banner-img .img-bg-il {
  background-image: url(../images/Inicio/3.jpg);
  background-size: cover;
}
.fondo-inicio .banner-img .img-bg-il:hover {
  transform: scale(1.03);
  transition: 0.3s;
  animation-name: img-anim-il;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  animation-duration: 4s;
  animation-delay: 0.3s;
}
.fondo-inicio .banner-img .img-bg-3d {
  background-image: url(../images/Inicio/1.jpg);
  background-size: cover;
}
.fondo-inicio .banner-img .img-bg-3d:hover {
  transform: scale(1.03);
  transition: 0.3s;
  animation-name: img-anim-3d;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  animation-duration: 4s;
  animation-delay: 0.3s;
}
.fondo-inicio .banner-img .img-bg-ux {
  background-image: url(../images/Inicio/2.jpg);
  background-size: cover;
}
.fondo-inicio .banner-img .img-bg-ux:hover {
  transform: scale(1.03);
  transition: 0.3s;
  animation-name: img-anim-ux;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  animation-duration: 4s;
  animation-delay: 0.3s;
}
.fondo-inicio .banner-img .imagen-contenido {
  width: 200px;
  height: 650px;
  padding: 10px;
  margin: 30px;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: #A594F9 2px 4px 10px;
}

/* #####----Animaciones/Index-----##### */
.animate__animated.animate__slideInDown {
  --animate-duration: 0.8s;
}

.animate__animated.animate__fadeInLeft {
  --animate-duration: 0.8s;
}

@keyframes img-anim-il {
  33% {
    background-image: url("../images/Inicio/Bn-anim/BN1.webp");
  }
  66% {
    background-image: url("../images/Inicio/Bn-anim/BN2.webp");
  }
  99% {
    background-image: url("../images/Inicio/Bn-anim/BN3.webp");
  }
}
@keyframes img-anim-3d {
  33% {
    background-image: url("../images/Inicio/Bn-anim/BN4.webp");
  }
  66% {
    background-image: url("../images/Inicio/Bn-anim/BN5.webp");
  }
  99% {
    background-image: url("../images/Inicio/Bn-anim/BN6.webp");
  }
}
@keyframes img-anim-ux {
  33% {
    background-image: url("../images/Inicio/Bn-anim/BN7.webp");
  }
  66% {
    background-image: url("../images/Inicio/Bn-anim/BN8.webp");
  }
  99% {
    background-image: url("../images/Inicio/Bn-anim/BN9.webp");
  }
}
/* #####----SOBRE-MI-----##### */
/* Titulo con descripcion e imagen */
main {
  background-color: #F5EFFF;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23e5d9f2' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23cdc1ff' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23e2d5f4' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23d6caff' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23ded0f7' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23dfd3ff' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23d9cbf9' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23e7ddff' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23d4c6fc' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%23eee6ff' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23cdc1ff' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23f5efff' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

.sobre-mi-contenedor {
  height: 700px;
  background-image: url("../images/sobre-mi/img-sobremi-banner.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
}
.sobre-mi-contenedor .sobre-mi-textos {
  margin: 10px 10px 10px 50px;
  padding: 20px;
  background-color: black;
  opacity: 0.8;
  border-radius: 20px;
  border: 3px solid #A594F9;
  box-shadow: 5px 5px 5px #CDC1FF;
  max-width: 100%;
  width: 500px;
  margin: 30px;
  height: auto;
}
.sobre-mi-contenedor .sobre-mi-textos .sobre-mi-titulo {
  font-weight: bold;
  font-size: 36px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #CDC1FF;
  text-align: center;
}
.sobre-mi-contenedor .sobre-mi-textos .sobre-mi-texto {
  font-weight: bold;
  font-size: 20px;
  color: #E5D9F2;
  text-align: justify;
}

/* Separador de pagina sobre mi */
.img-client {
  padding: 10px;
}

/* Herramientas */
.herramientas-inicio .herramientas-subtitulo {
  background-color: #CDC1FF;
  max-width: 100%;
  width: 1235px;
  margin: 50px;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #7371FC;
  opacity: 0.8;
}
.herramientas-inicio .herramientas-sub {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  color: #7371FC;
  text-align: center;
}
.herramientas-inicio .herramientas-text {
  font-family: "Overpass", sans-serif;
  font-size: 20px;
  width: auto;
}

.herramientas-contenedor {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.herramientas-contenedor .herramientas-items {
  background-color: #AAC4FF;
  max-width: 100%;
  width: 475px;
  padding: 15px;
  border: 5px solid #AAC4FF;
  border-radius: 10px 0px 0px 10px;
}
.herramientas-contenedor .herramientas-items .item {
  border: 3px solid #B1B2FF;
  width: 100%;
  height: 20%;
  padding: 10px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.herramientas-contenedor .herramientas-items .item .item-texto {
  text-align: end;
  font-size: 24px;
}
.herramientas-contenedor .imagen-herramienta {
  max-width: 100%;
  width: 750px;
  height: 720px;
  margin-right: 2px;
  border-radius: 0px 10px 10px 0px;
}

/* Clientes */
.section-clientes .titulo-clientes {
  text-align: center;
  margin: 100px 0px 100px 0px;
  padding-top: 50px;
  font-size: 75px;
  height: 150px;
  max-width: 100%;
  width: 1229px;
  font-family: "Oswald", sans-serif;
  background-color: #CDC1FF;
  opacity: 0.8;
  border-radius: 15px;
  box-shadow: 0 0 20px;
}
.section-clientes .clientes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 36px;
  margin-bottom: 30px;
  padding: 30px 80px 30px 80px;
}
.section-clientes .clientes .clientes-testimonios {
  background-color: #D2DAFF;
  border-radius: 5px;
  margin: 25px;
  width: 350px;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
}
.section-clientes .clientes .clientes-testimonios .clientes-estrellas img {
  padding: 15px;
}
.section-clientes .clientes .clientes-testimonios .clientes-texto {
  text-align: center;
  padding: 10px;
  margin: 5px;
  font-size: 15px;
}
.section-clientes .clientes .clientes-testimonios .cliente-perfil {
  display: flex;
  justify-content: center;
  align-items: end;
  margin: 5px;
  padding: 0px 10px 0px 10px;
}
.section-clientes .clientes .clientes-testimonios .cliente-perfil .nombre-cliente {
  font-size: 15px;
  font-weight: bold;
  padding: 10px;
}
.section-clientes .clientes .clientes-testimonios .cliente-perfil .rol-cliente {
  font-style: italic;
  font-size: 10px;
  padding: 5px;
}
.section-clientes .clientes .clientes-testimonios .cliente-perfil .imagen-cliente {
  max-height: 100%;
  height: 100px;
}

/* #####----Galeria-----##### */
html {
  scroll-behavior: smooth;
}

/* Banner Galeria Ilustracion */
.galeria-container-il {
  width: 100%;
  height: 300px;
  background-image: url("../images/Galeria/BannerIA1.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* Descripcion de los banner */
}
.galeria-container-il .galeria-text {
  text-align: center;
  color: #F5EFFF;
  text-shadow: 1px 2px black;
  font-family: "Oswald", sans-serif;
  font-weight: 100;
  background-color: #A594F9;
  opacity: 0.9;
  border-radius: 5px;
  padding: 10px;
}
.galeria-container-il .galeria-text h2 {
  font-size: 36px;
}
.galeria-container-il .galeria-text p {
  font-size: 20px;
}

/* Separadores de la galeria */
.separador-galeria {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 25px 50px 30px;
}
.separador-galeria .descripcion-galeria {
  text-align: center;
  padding: 30px;
  background-color: #CDC1FF;
  border: 2px solid #7371FC;
  border-style: dashed;
  max-width: 100%;
  width: 400px;
}
.separador-galeria .descripcion-galeria h3 {
  font-size: 30px;
}
.separador-galeria .descripcion-galeria p {
  font-size: 20px;
}

/* Galeria-grid */
.galeria {
  display: grid;
  padding: 100px;
}
.galeria .galeria-imagenes {
  width: 100%;
  margin: auto;
  display: grid;
  place-content: center;
  gap: 5px;
}
.galeria .galeria-imagenes .imagen {
  margin: 5px;
}
.galeria .galeria-imagenes .imagen img {
  width: 100%;
  border-radius: 5px;
}

/* Banner Galeria Modelado 3D */
.galeria-container-3d {
  width: 100%;
  height: 300px;
  background-image: url("../images/Galeria/BannerAI2.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin-top: 50px;
}
.galeria-container-3d .galeria-text {
  text-align: center;
  color: #F5EFFF;
  text-shadow: 1px 2px black;
  font-family: "Oswald", sans-serif;
  font-weight: 100;
  font-size: 40px;
  background-color: #7371FC;
  opacity: 0.9;
  border-radius: 5px;
  padding: 10px;
  width: 400px;
}
.galeria-container-3d .galeria-text h3 {
  font-size: 36px;
}
.galeria-container-3d .galeria-text p {
  font-size: 20px;
}

/* Banner Galeria UX/UI */
.galeria-container-ux {
  width: 100%;
  height: 300px;
  background-image: url("../images/Galeria/BannerAI3.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin-top: 50px;
}
.galeria-container-ux .galeria-text {
  text-align: center;
  color: #F5EFFF;
  text-shadow: 2px 3px black;
  font-family: "Oswald", sans-serif;
  font-weight: 100;
  font-size: 40px;
  background-color: #7371FC;
  opacity: 0.9;
  border-radius: 5px;
  padding: 10px;
}
.galeria-container-ux .galeria-text h3 {
  font-size: 36px;
}
.galeria-container-ux .galeria-text p {
  font-size: 20px;
}

/* Boton scroll hacia arriba */
.boton-arriba {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #7674e7;
  border: 2px solid black;
  border-radius: 0.5rem;
  padding: 0.5rem;
  text-decoration: none;
  transition: 0.2s ease-out;
}

.boton-arriba span {
  color: #d3ebec;
  font-size: 3rem;
  transition: 0.2s ease-out;
}

.boton-arriba:hover {
  background-color: #7156ec;
}

.boton-arriba:hover span {
  transform: translateY(-4px);
}

/* #####----Contacto-----##### */
/* Fondo de la pantalla */
.container-contacto {
  background-color: #F5EFFF;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23e5d9f2' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23cdc1ff' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23e2d5f4' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23d6caff' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23ded0f7' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23dfd3ff' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23d9cbf9' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23e7ddff' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23d4c6fc' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%23eee6ff' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23cdc1ff' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23f5efff' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  /* Descripcion de contactos */
}

/* Estas son las redes sociales */
.formulario-general {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 50px;
}
.formulario-general .contacto-form {
  background-color: #E5D9F2;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  box-shadow: 0px 0px 20px #9EDDFF;
  max-width: 100%;
  width: 700px;
  height: 725px;
  border: 0.5px solid grey;
}
.formulario-general .contacto-form .title-contacto {
  text-align: center;
  padding: 30px;
}
.formulario-general .contacto-form .title-contacto h1 {
  font-size: 36px;
}
.formulario-general .contacto-form .title-contacto p {
  font-size: 20px;
}
.formulario-general .contacto-form .subtitulo-contacto {
  text-align: center;
  margin: 10px;
  font-size: 25px;
}
.formulario-general .contacto-form .redes-sociales {
  display: flex;
  justify-content: center;
  margin: 30px;
  border-radius: 10px;
  gap: 30px;
}
.formulario-general .contacto-form .redes-sociales .botones-redes {
  width: 60px;
  height: 60px;
}
.formulario-general .contacto-form .redes-sociales .botones-redes:hover {
  transform: scale(1.05);
  transition: 0.3s;
}

/* Esto es el formulario */
.formulario {
  background-color: #E5D9F2;
  width: auto;
  height: 725px;
  padding: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0px 0px 20px #9EDDFF;
  max-width: 100%;
  width: 400px;
  border: 0.5px solid grey;
}
.formulario .form-container {
  display: flex;
  flex-direction: column;
}
.formulario .form-container .form-placeholder {
  font-size: 18px;
  background-color: #F5EFFF;
  margin-top: 10px;
  width: 100%;
  height: 55px;
  padding: 6px;
  border-radius: 5px;
  border: 2px solid var(--cuarto);
  color: black;
}
.formulario .form-text-area {
  height: 200px;
}
.formulario .form-text-area .form-container-area {
  font-size: 18px;
  background-color: #F5EFFF;
  margin-top: 10px;
  width: 100%;
  height: 175px;
  padding: 6px;
  border-radius: 5px;
  border: 2px solid var(--cuarto);
  color: black;
}
.formulario .form-interes {
  margin-top: 10px;
  padding-top: 10px;
}
.formulario .form-interes .interes-contenedor {
  background-color: #F5EFFF;
  border: 2px solid #383954;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  height: 50px;
  margin-bottom: 10px;
}
.formulario .form-interes .interes-contenedor .interes-texto {
  margin-top: 10px;
}
.formulario .form-interes .interes-contenedor .interes-items {
  display: flex;
  flex-direction: column;
  margin: 10px 10px;
}

/* Estos son los items*/
/* Esto es el botton de enviar*/
.form-enviar {
  display: flex;
  justify-content: end;
  align-items: end;
}
.form-enviar .submit-button {
  background-color: #CDC1FF;
  text-decoration: none;
  font-family: var(--over-pass);
  width: 70px;
  height: 40px;
  padding: 5px;
  border-radius: 10px;
}
.form-enviar .submit-button:hover {
  background-color: #A594F9;
  transition: 0.2s;
}

/* El Iframe de youtube */
.contacto-youtube {
  box-shadow: 3px 3px 20px #A594F9;
  border-radius: 5px;
  background: rgb(229, 217, 242);
  background: radial-gradient(circle, rgb(229, 217, 242) 47%, rgba(205, 193, 255, 0.7525385154) 88%);
  margin: 20px;
  padding: 10px;
  max-width: 100%;
  width: 1100px;
}
.contacto-youtube .subtitulo-youtube {
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  letter-spacing: 1px;
  word-spacing: 1px;
  color: #A594F9;
  text-shadow: 1px 2px 2px black;
  font-weight: bold;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: capitalize;
  display: flex;
  justify-content: center;
}
.contacto-youtube .texto-youtube {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
  word-spacing: 1px;
  color: #000000;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  padding: 10px;
}

.container-iframe {
  box-shadow: 3px 3px 20px #A594F9;
  border-radius: 10px;
  background: rgb(229, 217, 242);
  background: radial-gradient(circle, rgb(229, 217, 242) 47%, rgba(205, 193, 255, 0.7525385154) 88%);
  margin: 20px;
  padding: 10px;
  width: 525px;
}
.container-iframe .iframe-video {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
}
.container-iframe .iframe-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

/* #####----Servicios-----##### */
/* Fondo de seccion de servicios */
.contenedor-titulo {
  flex-direction: column;
}
.contenedor-titulo .servicios-titulo {
  text-align: center;
  font-size: 50px;
  font-family: "Oswald", sans-serif;
  text-shadow: 1px 1px 1px black;
  margin: 40px;
  color: #A594F9;
}
.contenedor-titulo .servicios-sub {
  text-align: center;
  font-size: 30px;
  margin-bottom: 50px;
  color: #7371FC;
  text-shadow: 1px 0.5px 1px rgb(56, 53, 61);
  max-width: 100%;
  width: 380px;
}

/* Seccion de las listas */
.servicios-precios {
  width: auto;
  height: auto;
  flex-wrap: wrap;
  height: auto;
  /* Contenedores de los Logos */
  /* Contenedor de la lista de precios */
}
.servicios-precios .contenedor-logo {
  display: flex;
  justify-content: center;
  margin: 10px;
}
.servicios-precios .contenedor-logo .precio-logo {
  background-color: #CDC1FF;
  width: 180px;
  height: 230px;
  padding-top: 15px;
  border-radius: 10px;
}
.servicios-precios .contenedor-logo .precio-logo .texto-logo {
  text-align: center;
  font-family: var(--over-pass);
  font-size: 25px;
}
.servicios-precios .contenedor-logo .precio-logo .imagen-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.servicios-precios .contenedor-listas {
  display: flex;
  justify-content: center;
  margin: 10px 20px 80px 10px;
}
.servicios-precios .contenedor-listas .precios-listas {
  width: 320px;
  height: 650px;
  /* Contenedores de las listas */
}
.servicios-precios .contenedor-listas .precios-listas .listas {
  background-color: var(--tercero);
  width: 100%;
  height: auto;
  padding: 15px;
  border-radius: 20px;
  list-style-type: none;
  border-radius: 10px;
  background: linear-gradient(145deg, #F5EFFF, #9EDDFF);
  box-shadow: 3px 3px 5px #E5CFF7, -3px -3px 5px #713ABE;
  /* Contenedores de los precios */
}
.servicios-precios .contenedor-listas .precios-listas .listas .precio {
  background-color: var(--primero);
  margin: 10px;
  padding-top: 15px;
  border-radius: 10px;
  border: 1px solid black;
  font-family: var(--over-pass);
  font-size: 17px;
  font-weight: 5px;
  text-align: center;
}

/* Seccion de preguntas frecuentes*/
.seccion-faq {
  width: 100%;
  height: auto;
  /* Banner de preguntas frecuentes */
  /* Contenedor del faq */
}
.seccion-faq .faq-banner {
  background-image: url("../images/Servicios/BannerFAQ.webp");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 200px;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  text-shadow: 2px 3px 5px rgb(55, 33, 107);
}
.seccion-faq .cartas-faq {
  display: grid;
  grid-template-columns: repeat(3, 33%);
  grid-template-rows: repeat(auto-fit, 33%);
  gap: 15px;
  padding: 50px;
  justify-items: center;
  /* Contenedor de las preguntas */
}
.seccion-faq .cartas-faq .contenedor-preguntas {
  background-color: var(--tercero);
  border-radius: 10px;
  border: 2px solid black;
  max-width: 100%;
  width: 400px;
  height: 300px;
}
.seccion-faq .cartas-faq .contenedor-preguntas .contenedor-pregunta {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  max-width: 100%;
  width: 300px;
}
.seccion-faq .cartas-faq .contenedor-preguntas .contenedor-pregunta .icono-pregunta {
  margin: 5px;
  height: fit-content;
}
.seccion-faq .cartas-faq .contenedor-preguntas .contenedor-pregunta .texto-pregunta {
  font-size: 18px;
  font-weight: bold;
  text-align: end;
  margin: 10px;
  text-decoration: underline;
}
.seccion-faq .cartas-faq .contenedor-preguntas .texto-respuesta {
  background-color: var(--segundo);
  border: 1px solid black;
  margin: 15px;
  padding: 10px;
  height: 150px;
  border-radius: 10px;
  text-align: center;
}

.animate__animated.animate__slideInDown {
  --animate-duration: 0.8s;
}

/* #####----Footer-----##### */
/* Boton de redes */
.bg-pers {
  background-color: #A594F9;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='444' height='53.3' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23CDC1FF' stroke-width='6.2' stroke-opacity='0.27'%3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
}
.bg-pers p {
  padding: 15px 0px 0px 35px;
}
.bg-pers .redes-botones {
  height: 50px;
  width: 280px;
  margin: 10px;
  padding: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.bg-pers .redes-boton {
  margin: 5px;
  padding: 5px;
}
.bg-pers .redes-boton:hover {
  transform: scale(1.1);
}

/* @mixin banners-gal-text ($colorTexto, $sombraTexto){
    color: $colorTexto;
    text-shadow: $sombraTexto;
    text-align: center;
    font-family: $oswaldFont;
    font-weight: 100;
    font-size: 40px;
} */
/* Media queries */
/* Index queries */
/* Descripcion de contenido */
@media (min-height: 1024px) and (max-height: 1600px) {
  .descripcion-contenido {
    height: auto;
  }
}
@media (min-width: 320px) and (max-width: 425px) {
  .fondo-inicio .banner-img .imagen-contenido {
    justify-content: center;
    align-items: center;
    width: 300px;
  }
}
/* Media queries-galeria */
@media (min-width: 320px) {
  .galeria {
    padding: 15px;
  }
  .galeria .galeria-imagenes {
    grid-template-columns: repeat(2, 50%);
  }
}
@media (min-width: 1024px) {
  .galeria .galeria-imagenes {
    grid-template-columns: repeat(3, 25%);
  }
  .galeria-imagenes {
    width: 1024px;
  }
}
@media (min-width: 1200px) {
  .galeria-imagenes {
    width: 1200px;
  }
}
/* Banners de galeria */
@media (max-width: 400px) {
  .galeria-container-il {
    height: 200px;
  }
  .galeria-container-il .galeria-text h2 {
    font-size: 35px;
  }
  .galeria-container-il .galeria-text p {
    font-size: 20px;
  }
  .galeria-container-3d {
    height: 200px;
  }
  .galeria-container-3d .galeria-text h2 {
    font-size: 35px;
  }
  .galeria-container-3d .galeria-text p {
    font-size: 25px;
  }
  .galeria-container-ux {
    height: 200px;
  }
  .galeria-container-ux .galeria-text h2 {
    font-size: 35px;
  }
  .galeria-container-ux .galeria-text p {
    font-size: 25px;
  }
}
/* Media queries---SOBRE MI */
/* Media queries-- descripcion */
@media (max-width: 425px) {
  .sobre-mi-contenedor .sobre-mi-textos {
    width: 300px;
    margin: 0px 0px 50px 25px;
  }
  .sobre-mi-contenedor .sobre-mi-textos .sobre-mi-texto {
    font-size: 16px;
    color: #F5EFFF;
  }
}
@media (max-width: 425px) {
  .herramientas-inicio .herramientas-subtitulo {
    width: 350px;
    margin: 10px 10px;
    text-align: center;
  }
  .herramientas-inicio .herramientas-subtitulo .herramientas-text {
    font-size: 25px;
  }
}
@media (max-width: 425px) {
  .herramientas-contenedor .herramientas-items {
    border-radius: 10px;
    width: 350px;
    border-radius: 10px 10px 0px 0px;
  }
  .herramientas-contenedor .imagen-herramienta {
    width: 350px;
    height: 350px;
    border-radius: 0px 0px 10px 10px;
  }
}
@media (max-width: 425px) {
  .section-clientes .titulo-clientes {
    width: 350px;
  }
  .section-clientes .clientes {
    padding: 0px;
  }
  .section-clientes .clientes .clientes-testimonios {
    width: 350px;
  }
  .section-clientes .clientes .clientes-testimonios .cliente-perfil {
    width: 350px;
  }
  .section-clientes .clientes .clientes-testimonios .cliente-perfil .nombre-cliente {
    font-size: 25px;
  }
  .section-clientes .clientes .clientes-testimonios .cliente-perfil .rol-cliente {
    font-size: 15px;
  }
  .section-clientes .clientes .clientes-testimonios .cliente-perfil .imagen-cliente {
    width: 100px;
    height: 100px;
  }
}
/* Media queries--- Contacto--- */
@media (max-width: 425px) {
  .formulario-general .contacto-form {
    width: 350px;
    margin-left: 25px;
    border-radius: 20px 20px 0px 0px;
    height: 800px;
  }
  .formulario-general .contacto-form .title-contacto {
    padding: 5;
    font-size: 25px;
  }
  .formulario-general .contacto-form .redes-sociales {
    flex-direction: column;
    gap: 10px;
  }
  .formulario-general .contacto-form .redes-sociales .botones-redes {
    height: 75px;
    width: 75px;
    margin: 5px;
  }
  .formulario-general .formulario {
    width: 350px;
    margin: 0px 25px 20px 25px;
    border-radius: 0px 0px 20px 20px;
  }
}
.contacto-youtube {
  width: 375px;
  box-shadow: none;
}

@media (max-width: 600px) {
  .container-iframe {
    width: 400px;
  }
}
@media (max-width: 425px) {
  .container-iframe {
    width: 300px;
  }
}
/* Media queries--- SERVICIOS--- */
@media (max-width: 425px) {
  .servicios-titulos .contenedor-titulo h1 {
    font-size: 36px;
  }
  .servicios-titulos .contenedor-titulo p {
    font-size: 20px;
  }
}
@media (max-width: 425px) {
  .seccion-faq .cartas-faq {
    grid-template-columns: 320px;
    grid-template-rows: 320px;
    padding: 15px 0px 15px 20px;
  }
  .seccion-faq .cartas-faq .contenedor-preguntas {
    margin-left: 60px;
  }
}
@media (min-width: 1024px) {
  .cartas-faq {
    grid-template-columns: repeat(3, 25%);
  }
  .contenedor-preguntas {
    width: 1024px;
  }
}
@media (min-width: 1200px) {
  .contenedor-preguntas {
    width: 1200px;
  }
}

/*# sourceMappingURL=style.css.map */
