.galeria-container-il {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primero: #E2E2E2;
  --segundo:#BBBAC6;
  --tercero:#B7CECE;
  --cuarto: #6E7E85;
  --quinto:#1C0F13;
  --lexend: "Lexend", sans-serif;
  --over-pass: "Overpass", sans-serif;
  --logo-blackrose: "Vujahday Script";
  --titulo-sobremi: "Dela Gothic One";
}

main {
  background-size: cover;
  background-image: linear-gradient(to bottom, #d7d2cc 0%, #304352 100%);
}

main section {
  font-family: "Lexend", sans-serif;
  font-family: "Overpass", sans-serif;
}

.container .inicio {
  width: 100%;
}

/* #####----Header-----(Logo y navegacion)##### */
header .container-fluid {
  background-color: var(--segundo);
}

.navbar {
  padding: 0px;
}

.navbar a:hover {
  text-decoration: underline;
  color: var(--tercero);
}

#navbarNav {
  justify-content: end;
  font-size: 20px;
}

.nombre-logo {
  font-size: 50px;
  font-family: var(--logo-blackrose);
}

/* Header-End */
/* #####----Descripcion-----##### */
.descripcion-contenido {
  background-color: var(--tercero);
  margin: 80px 20px 80px 20px;
  max-width: 100%;
  width: 350px;
  height: 520px;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0px 0px 5px #5257dd;
}
.descripcion-contenido .descripcion-titulo {
  padding-bottom: 15px;
  text-align: center;
  color: #460580;
}
.descripcion-contenido .descripcion-texto {
  width: auto;
  height: auto;
}

/* #####----Imagenes-INDEX-----##### */
.imagen-contenido {
  width: 200px;
  height: 700px;
  padding: 10px;
  margin: 30px;
}
.imagen-contenido .imagenes-subtitulo {
  text-align: center;
  font-size: 25px;
  text-shadow: var(--cuarto) 3px 1px 5px;
}
.imagen-contenido .imagenes-tarjeta img {
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: var(--cuarto) 2px 4px 10px;
}

/* #####----SOBRE-MI-----##### */
/* Titulo con descripcion e imagen */
.sobre-mi-contenedor {
  height: 500px;
  background-image: url("../images/sobre-mi/img-sobremi-banner.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
}
.sobre-mi-contenedor .sobre-mi-inicio {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
  text-align: start;
}
.sobre-mi-contenedor .sobre-mi-inicio .sobre-mi-textos {
  margin: 10px;
  background-color: rgba(123, 188, 241, 0.3);
  border-radius: 20px;
  border: 1px solid rgba(123, 188, 241, 0.3);
  box-shadow: 0px 0px 10px black;
  backdrop-filter: blur(1px);
  width: 75%;
}
.sobre-mi-contenedor .sobre-mi-inicio .sobre-mi-textos .sobre-mi-titulo {
  font-weight: bold;
  font-size: 15px;
  font-family: var(--titulo-sobremi);
  color: #304352;
}
.sobre-mi-contenedor .sobre-mi-inicio .sobre-mi-textos .sobre-mi-texto {
  font-weight: bold;
  font-size: 16px;
}

/* Separador de pagina sobre mi */
.separador {
  background-color: #383954;
  height: 75px;
  border: 2px solid rgb(165, 132, 235);
  box-shadow: 0px 3px 10px rgb(84, 101, 212);
  background-image: linear-gradient(to bottom, #c7b2f7 0%, #754fdc 100%);
  border-radius: 10px;
}
.separador .separador-texto {
  color: #6340fc;
  text-align: end;
  font-size: 30px;
  text-shadow: 0px 2px 10px #8443ec;
}

.img-client {
  padding: 10px;
}

/* Herramientas */
.mis-herramientas-contenedor {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.mis-herramientas-contenedor .mis-herramientas .herramientas-lista {
  display: flex;
  flex-direction: column;
  list-style: none;
}
.mis-herramientas-contenedor .mis-herramientas .herramientas-lista .herramientas {
  background-color: var(--primero);
  width: 100%;
  height: 110px;
  border: 1px solid #7b7ed5;
  border-radius: 5px;
  font-size: 30px;
  display: flex;
  justify-content: start;
  align-items: center;
}
.mis-herramientas-contenedor .imagen-herramientas {
  width: 700px;
  height: 550px;
  display: flex;
}
.mis-herramientas-contenedor .imagen-herramientas .imagen-herramientas img {
  width: 100%;
  height: 100%;
}

/* Clientes */
.clientes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.clientes .clientes-testimonios {
  background-color: var(--segundo);
  border-radius: 5px;
  margin: 15px;
}
.clientes .clientes-testimonios .clientes-estrellas {
  display: flex;
  justify-content: center;
  padding: 10px;
}
.clientes .clientes-testimonios .clientes-texto {
  display: flex;
  justify-content: center;
  padding: 10px;
  margin: 5px;
}
.clientes .clientes-testimonios .clientes-nombre {
  display: flex;
  justify-content: flex-end;
  margin: 5px;
  padding: 5px;
}
.clientes .clientes-testimonios .cliente-img-perfil {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin: 10px;
  padding: 5px;
  font-size: 12px;
  font-style: italic;
}

/* #####----Galeria-----##### */
/* Banner Galeria Ilustracion */
.galeria-container-il {
  width: 100%;
  height: 300px;
  background-image: url("../images/Galeria/Banner-Ilustracion.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* Descripcion de los banner */
}
.galeria-container-il .galeria-text {
  text-align: center;
  color: #f6f8fb;
  font-size: 30px;
}

/* Separadores de la galeria */
.separador-galeria {
  text-align: center;
  color: black;
  font-family: "Lexend", sans-serif;
  font-style: italic;
  padding: 10px;
  background-image: linear-gradient(to bottom, #ece7f8 0%, #beaded 100%);
}

/* Galeria-grid */
.galeria {
  margin: 20px 0 20px 0;
  display: grid;
}
.galeria .galeria-imagenes {
  width: 100%;
  margin: auto;
  display: grid;
  place-content: center;
  gap: 5px;
}
.galeria .galeria-imagenes .imagen {
  margin: 5px;
}
.galeria .galeria-imagenes .imagen img {
  width: 100%;
  border-radius: 5px;
}

/* Banner Galeria Modelado 3D */
.galeria-container-3d {
  width: 100%;
  height: 300px;
  background-image: url("../images/Galeria/Modelado-3D -banner.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Banner Galeria UX/UI */
.galeria-container-ux {
  width: 100%;
  height: 300px;
  background-image: url("../images/Galeria/UX-ui-banner.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* #####----Contacto-----##### */
/* Fondo de la pantalla */
.container-contacto {
  background-image: url("../images/Contacto/Correos.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* Descripcion de contactos */
}
.container-contacto .title-contacto {
  text-align: center;
  padding: 30px;
  font-size: 30px;
  color: var(--primero);
  text-shadow: 1px 2px 2px black;
}

/* Esto es el formulario */
.formulario {
  background-color: var(--tercero);
  width: auto;
  height: 725px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 5px #5257dd;
}
.formulario .form-container {
  display: flex;
  flex-direction: column;
}
.formulario .form-container .form-placeholder {
  font-size: 18px;
  background-color: var(--segundo);
  margin-top: 10px;
  width: 100%;
  height: 55px;
  padding: 6px;
  border-radius: 5px;
  border: 2px solid var(--cuarto);
  color: var(--tercero);
}
.formulario .form-container .form-text-area {
  height: 200px;
}
.formulario .form-container-area {
  font-size: 18px;
  background-color: var(--segundo);
  margin-top: 10px;
  width: 100%;
  height: 175px;
  padding: 6px;
  border-radius: 5px;
  border: 2px solid var(--cuarto);
  color: var(--tercero);
}

/* Estos son los items*/
.form-interes {
  margin-top: 10px;
  padding-top: 10px;
}
.form-interes .interes-contenedor {
  background-color: thistle;
  border: 1px solid #383954;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  height: 50px;
}
.form-interes .interes-contenedor .interes-texto {
  display: flex;
  justify-content: center;
  align-items: end;
  text-align: center;
  margin-top: 10px;
}
.form-interes .interes-items {
  display: flex;
  flex-direction: column;
  margin: 10px 10px;
}

/* Esto es el botton de enviar*/
.form-enviar {
  display: flex;
  justify-content: end;
  align-items: end;
}
.form-enviar .submit-button {
  background-color: #7b7ed5;
  text-decoration: none;
  font-family: var(--over-pass);
  width: 70px;
  height: 40px;
  padding: 5px;
  border-radius: 10px;
}

/* El Iframe de youtube */
.contacto-youtube {
  box-shadow: 3px 3px 50px rgb(247, 139, 139);
  border-radius: 10px;
  background: rgb(250, 164, 164);
  background: radial-gradient(circle, rgba(250, 164, 164, 0.5592612045) 0%, rgba(251, 11, 11, 0.287552521) 49%);
  margin: 20px;
  padding: 10px;
}
.contacto-youtube .subtitulo-youtube {
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  letter-spacing: 1px;
  word-spacing: 1px;
  color: #ff0000;
  text-shadow: 1px 2px 2px black;
  font-weight: bold;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: capitalize;
  display: flex;
  justify-content: center;
}
.contacto-youtube .texto-youtube {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
  word-spacing: 1px;
  color: #000000;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
}

.container-iframe {
  box-shadow: 3px 3px 50px rgb(247, 139, 139);
  border-radius: 10px;
  background: rgb(250, 164, 164);
  background: radial-gradient(circle, rgba(250, 164, 164, 0.5592612045) 0%, rgba(251, 11, 11, 0.287552521) 49%);
  margin: 20px;
  padding: 10px;
  width: 600px;
}
.container-iframe .iframe-video {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
}
.container-iframe .iframe-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

/* #####----Servicios-----##### */
/* Fondo de seccion de servicios */
.fondo-precios {
  background-image: url("../images/Servicios/Banner-serv.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}
.fondo-precios .servicios-titulo {
  text-align: center;
  font-size: 50px;
  text-shadow: 2px 3px 5px rgb(101, 34, 246);
}

/* Seccion de las listas */
.servicios-precios {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 875px;
  /* Contenedores de los Logos */
  /* Contenedor de la lista de precios */
}
.servicios-precios .contenedor-logo {
  display: flex;
  justify-content: center;
  margin: 10px;
}
.servicios-precios .contenedor-logo .precio-logo {
  background-color: #5257dd;
  width: 180px;
  height: 230px;
  padding-top: 15px;
  border-radius: 10px;
}
.servicios-precios .contenedor-logo .precio-logo .texto-logo {
  text-align: center;
  text-shadow: 2px 3px 3px rgb(207, 179, 250);
  font-family: var(--over-pass);
  font-size: 25px;
}
.servicios-precios .contenedor-logo .precio-logo .imagen-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.servicios-precios .contenedor-listas {
  display: flex;
  justify-content: center;
  margin: 10px;
}
.servicios-precios .contenedor-listas .precios-listas {
  width: 320px;
  height: 600px;
  /* Contenedores de las listas */
}
.servicios-precios .contenedor-listas .precios-listas .listas {
  background-color: var(--tercero);
  width: 100%;
  height: 550PXpx;
  padding: 15px;
  border-radius: 20px;
  list-style-type: none;
  /* Contenedores de los precios */
}
.servicios-precios .contenedor-listas .precios-listas .listas .precio {
  background-color: var(--primero);
  margin: 10px;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid black;
  font-family: var(--over-pass);
  font-size: 15px;
  font-weight: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Seccion de preguntas frecuentes*/
.seccion-faq {
  width: 100%;
  height: 100%;
  /* Banner de preguntas frecuentes */
  /* Contenedor del faq */
}
.seccion-faq .faq-banner {
  background-image: url("../images/Servicios/faq banner.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 200px;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  text-shadow: 2px 3px 5px rgb(55, 33, 107);
}
.seccion-faq .cartas-faq {
  display: grid;
  grid-template-columns: repeat(3, 33%);
  grid-template-rows: repeat(3, 33%);
  gap: 15px;
  padding: 30px;
  /* Contenedor de las preguntas */
}
.seccion-faq .cartas-faq .contenedor-preguntas {
  background-color: var(--tercero);
  border-radius: 10px;
  border: 2px solid black;
  width: 400px;
  height: 270px;
}
.seccion-faq .cartas-faq .contenedor-preguntas .contenedor-pregunta {
  display: grid;
  grid-template-columns: 100px 150px;
  grid-template-rows: 100px 150px;
  gap: 5px;
}
.seccion-faq .cartas-faq .contenedor-preguntas .contenedor-pregunta .icono-pregunta {
  margin: 5px;
}
.seccion-faq .cartas-faq .contenedor-preguntas .contenedor-pregunta .texto-pregunta {
  font-size: 18px;
  font-weight: bold;
  text-align: end;
  margin: 10px;
  text-decoration: underline;
  grid-column: 2/span 4;
}
.seccion-faq .cartas-faq .contenedor-preguntas .contenedor-pregunta .texto-respuesta {
  background-color: var(--segundo);
  border: 1px solid black;
  margin: 10px;
  height: auto;
  border-radius: 10px;
  text-align: center;
  grid-column: 1/span 3;
}

/* #####----Footer-----##### */
.footer .container {
  background-color: #7b7ed5;
}

/* Boton de redes */
.redes-contenido {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.redes-botones {
  height: 50px;
  width: 280px;
  margin: 10px;
  padding: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.redes-boton {
  margin: 5px;
  padding: 5px;
}

/* Media queries */
/* Index queries */
/* Descripcion de contenido */
@media (min-height: 1024px) and (max-height: 1600px) {
  .descripcion-contenido {
    height: auto;
  }
}
@media (min-width: 320px) and (max-width: 425px) {
  .imagen-contenido {
    justify-content: center;
    align-items: center;
  }
}
/* Media queries-galeria */
@media (min-width: 320px) {
  .galeria .galeria-imagenes {
    grid-template-columns: repeat(2, 50%);
  }
}
@media (min-width: 1024px) {
  .galeria .galeria-imagenes {
    grid-template-columns: repeat(3, 25%);
  }
  .galeria-imagenes {
    width: 1024px;
  }
}
@media (min-width: 1200px) {
  .galeria-imagenes {
    width: 1200px;
  }
}
/* Banners de galeria */
@media (max-width: 400px) {
  .galeria-container-il {
    height: 200px;
  }
  .galeria-container-3d {
    height: 200px;
  }
  .galeria-container-ux {
    height: 200px;
  }
}
/* Media queries--- Contacto--- */
@media (max-width: 600px) {
  .container-iframe {
    width: 400px;
  }
}
@media (max-width: 400px) {
  .container-iframe {
    width: 300px;
  }
}

/*# sourceMappingURL=style.css.map */
