%flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
%flex-r-center{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
%flex-c-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.border-gal{
    box-shadow: 5px 5px 10px black;
    border: 2px solid black;
}