$paleta-claros:(
    colorC1: #E5D9F2,
    colorC2: #F5EFFF,
    colorC3: #CDC1FF,
    colorC4: #A594F9,
    colorC5: #7371FC,
);

$paleta-medio:(
    colorM1: #5B0888,
    colorM2: #713ABE,
    colorM3: #9D76C1,
    colorM4: #E5CFF7,
);

$paleta-fuertes:(
    colorF1:#5D12D2,
    colorF2:#B931FC,
    colorF3:#FF6AC2,
    colorF4:#FFE5E5,
);

$bordes-celestes:(
    colorB1: #6499E9,
    colorB2: #9EDDFF,
    colorB3: #A6F6FF,
    colorB4: #BEFFF7,
)