/* Media queries */

/* Index queries */
/* Descripcion de contenido */
@media (min-height:1024px) and (max-height:1600px){
    .descripcion-contenido{
        height: auto;
    }
}
@media (min-width:320px) and (max-width:425px){
    .imagen-contenido{
        justify-content: center;
        align-items: center;
    }
}
/* Media queries-galeria */
@media (min-width:320px){
    .galeria{
        padding: 15px;
    }
    .galeria .galeria-imagenes{
        grid-template-columns: repeat(2,50%);
    }
}

@media (min-width:1024px){
    .galeria .galeria-imagenes{
        grid-template-columns: repeat(3,25%);
    }
    .galeria-imagenes{
        width: 1024px;
    }
}
@media (min-width:1200px){
    .galeria-imagenes{
        width: 1200px;
    }
}
/* Banners de galeria */
@media (max-width:400px){
    .galeria-container-il{
        height: 200px;
        .galeria-text{
            h2{
                font-size: 35px;
            }
            p{
                font-size: 25px;
            }
        }
    }
    .galeria-container-3d{
        height: 200px;
        height: 200px;
        .galeria-text{
            h2{
                font-size: 35px;
            }
            p{
                font-size: 25px;
            }
        }

    }
    .galeria-container-ux{
        height: 200px;
        height: 200px;
        .galeria-text{
            h2{
                font-size: 35px;
            }
            p{
                font-size: 25px;
            }
        }
    }
}

/* Media queries---SOBRE MI */

/* Media queries-- descripcion */

@media (max-width:400px){
    .sobre-mi-contenedor{
        .sobre-mi-textos{
            width: 300px;
            margin: 0px 0px 50px 25px;
            .sobre-mi-texto{
                font-size: 15px;
            }
        }
        
    }
}
@media (max-width:400px){
    .herramientas-inicio{
        .herramientas-subtitulo{
            width: 350px;
            margin: 10px 10px;
            text-align: center;
            .herramientas-text{
                font-size: 25px;
            }

        }
    }
}
@media (max-width:400px){
        .herramientas-contenedor{
            .herramientas-items{
                border-radius: 10px;
                width: 350px;
                border-radius:10px 10px 0px 0px ;
            }
            .imagen-herramienta{
                width: 350px;
                height: 350px;
                border-radius: 0px 0px 10px 10px;
            }
        }
}

@media (max-width:400px){
    .section-clientes{
        .titulo-clientes{
            width: 350px;
        }
        .clientes{
            .clientes-testimonios{
                width: 350px;
                .cliente-perfil{
                    width: 350px;
                    .nombre-cliente{
                        font-size: 25px;
                    }
                    .rol-cliente{
                        font-size: 15px;
                    }
                    .imagen-cliente{
                        width: 100px;
                        height: 100px;
                    }
                }
            }
        }
    }
}


/* Media queries--- Contacto--- */

@media (max-width:400px){
    .formulario-general{
        .contacto-form{
        width: 350px;
        margin-left: 25px;
        border-radius: 20px 20px 0px 0px;
        height: 800px;
        .title-contacto{
            padding: 0;
            font-size: 25px;
        }
        .redes-sociales{
            flex-direction: column;
            gap: 10px;
            .botones-redes{
                height: 75px;
                width: 75px;
                margin: 5px
            }
        }
        }
        .formulario{
            width: 350px;
            margin: 0px 25px 20px 25px;
            border-radius: 0px 0px 20px 20px ;
        }
    }
}
@media (max-width:600px){
    .container-iframe{
        width:400px;
    }
}
@media (max-width:400px){
    .container-iframe{
        width: 300px;
    }
}

/* Media queries--- SERVICIOS--- */

@media (max-width:400px){
    .seccion-faq{
        .cartas-faq{
            grid-template-columns: 320px;
            grid-template-rows: 320px;
            padding: 15px 0px 15px 20px;
            .contenedor-preguntas{
                margin-bottom: 10px;
            }
        }
    }
}

@media (min-width:1024px){
    .cartas-faq{
        grid-template-columns: repeat(3,25%);
    }
    .contenedor-preguntas{
        width: 1024px;
    }
}
@media (min-width:1200px){
    .contenedor-preguntas{
        width: 1200px;
    }
}