/* @mixin banners-gal-text ($colorTexto, $sombraTexto){
    color: $colorTexto;
    text-shadow: $sombraTexto;
    text-align: center;
    font-family: $oswaldFont;
    font-weight: 100;
    font-size: 40px;
} */