/* #####----Footer-----##### */
.footer .container{
    background-color: #7b7ed5;
    
}
/* Boton de redes */
    .redes-contenido{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .redes-botones{
        height: 50px;
        width: 280px;
        margin: 10px;
        padding: 5px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .redes-boton{
        margin: 5px;
        padding: 5px;
    }