/* #####----Header-----(Logo y navegacion)##### */
header .container-fluid{
    background-color: map-get($paleta-claros , colorC2  );
}
.navbar{
    padding: 0px;
}
.navbar a:hover{
    text-decoration: underline;
    color: map-get($paleta-claros , colorC4 );
}
#navbarNav{
    justify-content: end;
    font-size: 20px;
}
.nombre-logo{
    font-size: 50px;
    font-family: var(--logo-blackrose);
}

/* Header-End */