/* #####----Contacto-----##### */

/* Fondo de la pantalla */
.container-contacto{
    background-color: #F5EFFF;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23e5d9f2' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23cdc1ff' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23e2d5f4' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23d6caff' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23ded0f7' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23dfd3ff' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23d9cbf9' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23e7ddff' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23d4c6fc' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%23eee6ff' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23cdc1ff' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23f5efff' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    @extend %flex-c-center;
    /* Descripcion de contactos */
}

/* Estas son las redes sociales */
    .formulario-general{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin: 50px;
        .contacto-form{
            background-color: map-get($paleta-claros, colorC1);
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
            box-shadow: 0px 0px 20px map-get($bordes-celestes, colorB2);
            max-width: 100%;
            width: 700px;
            height: 725px;
            @extend %flex-c-center;
            border: 0.5px solid grey;
            .title-contacto{
                text-align: center;
                padding: 30px;
                h1{
                    font-size: 36px;
                }
                p{
                    font-size: 20px;
                }
            }
            .subtitulo-contacto{
                text-align: center;
                margin: 10px;
                font-size: 25px;
            }
            .redes-sociales{
                display: flex;
                justify-content: center;
                margin: 30px;
                border-radius: 10px;
                gap: 30px;
                .botones-redes{
                    width: 60px;
                    height: 60px;
                    &:hover{
                        transform: scale(1.05);
                        transition: 0.3s;
                    }
                }
            }
        }
    }

/* Esto es el formulario */
.formulario{
    background-color: map-get($paleta-claros, colorC1 );
    width: auto;
    height: 725px;
    padding: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0px 0px 20px map-get($bordes-celestes , colorB2 );
    max-width: 100%;
    width: 400px;
    border: 0.5px solid grey;
    .form-container{
        display: flex;
        flex-direction: column;
        .form-placeholder{
            font-size: 18px;
            background-color: map-get($paleta-claros , colorC2 );
            margin-top: 10px;
            width: 100%;
            height: 55px;
            padding: 6px;
            border-radius: 5px;
            border: 2px solid var(--cuarto);
            color: black;
        }
    }
    .form-text-area{
        height: 200px;
        .form-container-area{
            font-size: 18px;
            background-color: map-get($paleta-claros, colorC2 );
            margin-top: 10px;
            width: 100%;
            height: 175px;
            padding: 6px;
            border-radius: 5px;
            border: 2px solid var(--cuarto);
            color: black;
        }
    }
    .form-interes{
        margin-top: 10px;
        padding-top: 10px;
        .interes-contenedor{
            background-color: map-get($paleta-claros, colorC2 );
            border: 2px solid #383954;
            border-radius: 5px;
            text-align: center;
            font-weight: bold;
            height: 50px;
            margin-bottom: 10px;
            .interes-texto{
                margin-top: 10px;
            }
            .interes-items{
                display: flex;
                flex-direction: column;
                margin: 10px 10px;
            }
        }
        }
}

/* Estos son los items*/




/* Esto es el botton de enviar*/
.form-enviar {
    display: flex;
    justify-content: end;
    align-items: end;
    .submit-button{
        background-color: map-get($paleta-claros , colorC3 );
        text-decoration: none;
        font-family: var(--over-pass);
        width: 70px;
        height: 40px;
        padding: 5px;
        border-radius: 10px;
        &:hover{
            background-color: map-get($paleta-claros ,colorC4 );
            transition: 0.2s;
        }
    }
}

/* El Iframe de youtube */
.contacto-youtube{
    box-shadow: 3px 3px 20px map-get($paleta-claros , colorC4 );
    border-radius: 5px;
    background: rgb(229,217,242);
    background: radial-gradient(circle, rgba(229,217,242,1) 47%, rgba(205,193,255,0.7525385154061625) 88%);
    margin: 20px;
    padding: 10px;
    max-width: 100%;
    width:1100px;
    .subtitulo-youtube{
        font-family: 'Roboto', sans-serif;
        font-size: 32px;
        letter-spacing: 1px;
        word-spacing: 1px;
        color: map-get($paleta-claros , colorC4);
        text-shadow: 1px 2px 2px black;
        font-weight: bold;
        text-decoration: none;
        font-style: normal;
        font-variant: normal;
        text-transform: capitalize;
        display: flex;
        justify-content: center;
    }
    .texto-youtube{
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        letter-spacing: 1px;
        word-spacing: 1px;
        color: #000000;
        font-weight: normal;
        text-decoration: none;
        font-style: normal;
        font-variant: normal;
        text-transform: none;
        padding: 10px;
    }
}


    .container-iframe{
        box-shadow: 3px 3px 20px map-get($paleta-claros , colorC4 );
        border-radius: 10px;
        background: rgb(229,217,242);
        background: radial-gradient(circle, rgba(229,217,242,1) 47%, rgba(205,193,255,0.7525385154061625) 88%);
        margin: 20px;
        padding: 10px;
        width: 525px;
        .iframe-video{
            position: relative;
            overflow: hidden;
            width: 100%;
            padding-top: 56.25%;
        }
        .iframe-video iframe{
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 100%;
        }
    }

