/* #####----Galeria-----##### */
html {
	scroll-behavior: smooth;
}
/* Banner Galeria Ilustracion */
.galeria-container-il {
    width: 100%;
    height: 300px;
    background-image: url("../images/Galeria/BannerIA1.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    @extend %flex-center;
    /* Descripcion de los banner */
    .galeria-text{
        text-align: center;
        color: map-get($paleta-claros , colorC2);
        text-shadow: 1px 2px black;
        font-family: $oswaldFont;
        font-weight: 100;
        background-color: map-get($paleta-claros , colorC4);
        opacity: 0.9;
        border-radius: 5px;
        padding: 10px;
        h2{
            font-size: 36px;
        }
        p{
            font-size: 20px;
        }
    }
}
/* Separadores de la galeria */
.separador-galeria{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 25px 50px 30px;
    .descripcion-galeria{
        text-align: center;
        padding: 30px;
        background-color: map-get($paleta-claros , colorC3 );
        border: 2px solid map-get($paleta-claros , colorC5 );
        border-style: dashed;
        max-width: 100%;
        width: 400px;
        
        h3{
            font-size: 30px;
        }
        p{
            font-size: 20px;
        }
    }
}
/* Galeria-grid */
.galeria{
    display: grid;
    padding: 100px;
    .galeria-imagenes{
        width: 100%;
        margin: auto;
        display: grid;
        place-content: center;
        gap: 5px;
        .imagen{
            margin: 5px;
        }
        .imagen img{
            width: 100%;
            border-radius: 5px;
            @extend .border-gal;
        }
    }
}

/* Banner Galeria Modelado 3D */
.galeria-container-3d{
    width: 100%;
    height: 300px;
    background-image: url("../images/Galeria/BannerAI2.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-top: 50px;
    @extend %flex-center;
    .galeria-text{
        text-align: center;
        color: map-get($paleta-claros , colorC2);
        text-shadow: 1px 2px black;
        font-family: $oswaldFont;
        font-weight: 100;
        font-size: 40px;
        background-color: map-get($paleta-claros , colorC5);
        opacity: 0.9;
        border-radius: 5px;
        padding: 10px;
        width: 400px;
        h3{
            font-size: 36px;
        }
        p{
            font-size: 20px;
        }
    }
}
/* Banner Galeria UX/UI */
.galeria-container-ux{
    width: 100%;
    height: 300px;
    background-image: url("../images/Galeria/BannerAI3.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-top: 50px;
    @extend %flex-center;
    .galeria-text{
        text-align: center;
        color: map-get($paleta-claros , colorC2);
        text-shadow: 2px 3px black;
        font-family: $oswaldFont;
        font-weight: 100;
        font-size: 40px;
        background-color: map-get($paleta-claros , colorC5);
        opacity: 0.9;
        border-radius: 5px;
        padding: 10px;
        h3{
            font-size: 36px;
        }
        p{
            font-size: 20px;
        }
    }
}

/* Boton scroll hacia arriba */
.boton-arriba {
	position: fixed;
	bottom: 2rem;
	right: 2rem;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background-color: #7674e7;
    border: 2px solid black;
	border-radius: 0.5rem;
	padding: 0.5rem;
	text-decoration: none;
	transition: 0.2s ease-out;
}

.boton-arriba span {
	color: #d3ebec;
	font-size: 3rem;
	transition: 0.2s ease-out;
}

.boton-arriba:hover {
	background-color: #7156ec;
}
.boton-arriba:hover span {
	transform: translateY(-4px);
}
