    /* #####----Descripcion-----##### */
.fondo-inicio{
    background-color: #F5EFFF;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23e5d9f2' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23cdc1ff' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23e2d5f4' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23d6caff' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23ded0f7' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23dfd3ff' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23d9cbf9' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23e7ddff' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23d4c6fc' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%23eee6ff' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23cdc1ff' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23f5efff' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    @extend %flex-r-center;
    flex-wrap: wrap;
    .descripcion-contenido{
        margin: 20px;
        max-width: 100%;
        width: 350px;
        height: auto;
        padding: 20px;
        .descripcion-titulo{
            padding-bottom: 15px;
            text-align: center;
            color: map-get($paleta-claros,colorC4);
            font-size: 48px;
        }
        .descripcion-texto{
            width: auto;
            height: auto;
            color: map-get($paleta-claros,colorC4);
            font-size: 24px;
        }
    }
            /* #####----Imagenes-INDEX-----##### */
            .banner-img{
                margin-top: 30px;
                .imagenes-subtitulo{
                    text-align: center;
                    font-size: 30px;
                    color:map-get($paleta-claros, colorC5);
                }
                .img-bg-il{
                    background-image: url(../images/Inicio/3.jpg);
                    background-size: cover;
                    &:hover{
                        transform:scale(1.03);
                        transition:0.3s;
                        animation-name: img-anim-il;
                        animation-iteration-count: infinite;
                        animation-timing-function: ease;
                        animation-duration: 4s;
                        animation-delay: 0.3s;
                    }
                }
                .img-bg-3d{
                    background-image: url(../images/Inicio/1.jpg);
                    background-size: cover;
                    &:hover{
                        transform:scale(1.03);
                        transition:0.3s;
                        animation-name: img-anim-3d;
                        animation-iteration-count: infinite;
                        animation-timing-function: ease;
                        animation-duration: 4s;
                        animation-delay: 0.3s;
                    }
                }
                .img-bg-ux{
                    background-image: url(../images/Inicio/2.jpg);
                    background-size: cover;
                    &:hover{
                        transform:scale(1.03);
                        transition:0.3s;
                        animation-name: img-anim-ux;
                        animation-iteration-count: infinite;
                        animation-timing-function: ease;
                        animation-duration: 4s;
                        animation-delay: 0.3s;
                    }
                }
                .imagen-contenido {
                    width: 200px;
                    height: 650px;
                    padding: 10px;
                    margin: 30px;
                    border: 1px solid black;
                    border-radius: 10px;
                    box-shadow: map-get($paleta-claros,colorC4) 2px 4px 10px;
                    
                }
            }
}
/* #####----Animaciones/Index-----##### */
.animate__animated.animate__slideInDown {
    --animate-duration: 0.8s;
}
.animate__animated.animate__fadeInLeft{
    --animate-duration: 0.8s;
}

@keyframes img-anim-il{
33%{
    background-image: url("../images/Inicio/Bn-anim/BN1.webp");
}
66%{
    background-image: url("../images/Inicio/Bn-anim/BN2.webp");
}
99%{
    background-image: url("../images/Inicio/Bn-anim/BN3.webp");
}
}

@keyframes img-anim-3d{
33%{
    background-image: url("../images/Inicio/Bn-anim/BN4.webp");
}
66%{
    background-image: url("../images/Inicio/Bn-anim/BN5.webp");
}
99%{
    background-image: url("../images/Inicio/Bn-anim/BN6.webp");

}
}
@keyframes img-anim-ux{
    33%{
        background-image: url("../images/Inicio/Bn-anim/BN7.webp");
    }
    66%{
        background-image: url("../images/Inicio/Bn-anim/BN8.webp");
    }
    99%{
        background-image: url("../images/Inicio/Bn-anim/BN9.webp");
    
    }
    }