    /* #####----Descripcion-----##### */
.fondo-inicio{
    background-color: map-get($paleta-medio,colorM1);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 800'%3E%3Cg fill-opacity='0.5'%3E%3Ccircle fill='%23340A79' cx='400' cy='400' r='600'/%3E%3Ccircle fill='%233a0f82' cx='400' cy='400' r='500'/%3E%3Ccircle fill='%2341168a' cx='400' cy='400' r='400'/%3E%3Ccircle fill='%23481d91' cx='400' cy='400' r='300'/%3E%3Ccircle fill='%234f2497' cx='400' cy='400' r='200'/%3E%3Ccircle fill='%23562D9D' cx='400' cy='400' r='100'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    padding: 20px;
    @extend %flex-r-center;
    flex-wrap: wrap;
    .descripcion-contenido{
        margin: 20px;
        max-width: 100%;
        width: 350px;
        height: auto;
        padding: 20px;
        .descripcion-titulo{
            padding-bottom: 15px;
            text-align: center;
            color: map-get($paleta-medio,colorM4);
            font-size: 48px;
        }
        .descripcion-texto{
            width: auto;
            height: auto;
            color: map-get($paleta-claros,colorC2);
            font-size: 24px;
        }
    }
            /* #####----Imagenes-INDEX-----##### */
    
            .imagen-contenido {
                width: 200px;
                height: 700px;
                padding: 10px;
                margin: 30px;
                
                .imagenes-subtitulo{
                    text-align: center;
                    font-size: 36px;
                    color:map-get($paleta-claros, colorC1);
                    text-shadow: map-get($bordes-celestes, colorB1) 3px 1px 5px;
                }
                .imagenes-tarjeta img{
                    border: 1px solid black;
                    border-radius: 10px;
                    box-shadow: map-get($bordes-celestes,colorB4) 2px 4px 10px;
                }
                &:hover{
                    transform:scale(1.03);
                    transition:0.3s;
                    animation-name: img-anim;
                    animation-iteration-count: infinite;
                    animation-timing-function: ease-in;
                    animation-duration: 6s;
                    animation-delay: 10s;
                }
            }
            
}
/* #####----Animaciones/Index-----##### */
.animate__animated.animate__slideInDown {
    --animate-duration: 1.3s;
}
.animate__animated.animate__fadeInLeft{
    --animate-duration: 1.3s;
}

@keyframes img-anim{
33%{
    background-image: url("/images/Inicio/Bn-anim/BN1.webp");
}
66%{
    background-image: url("/images/Inicio/Bn-anim/BN2.webp");
}
99%{
    background-image: url("/images/Inicio/Bn-anim/BN3.webp");
}
}