/* #####----Servicios-----##### */

/* Fondo de seccion de servicios */
.fondo-precios{
    background-color: #713ABE;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='407' height='407' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%236499E9' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23E5CFF7'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
    padding-top: 100px;
    .servicios-titulo{
        text-align: center;
        font-size: 50px;
        font-family: $oswaldFont;
        text-shadow: 1px 4px 5px rgb(56, 53, 61);
        margin-bottom: 50px;
        color: map-get($paleta-claros, colorC3 );
    }
    .servicios-sub{
        text-align: center;
        font-size: 30px;
        margin-bottom: 50px;
        color: map-get($paleta-claros, colorC2 );
        text-shadow: 1px 4px 5px rgb(56, 53, 61);
    }
}

/* Seccion de las listas */
.servicios-precios{
    width: auto;
    height: auto;
    @extend %flex-center;
    flex-wrap: wrap;
    height: auto;
    /* Contenedores de los Logos */
    .contenedor-logo{
        display: flex;
        justify-content: center;
        margin: 10px;
        .precio-logo{
            background-color: #5257dd;
            width: 180px;
            height: 230px;
            padding-top: 15px;
            border-radius: 10px;
            .texto-logo{
                text-align: center;
                text-shadow: 2px 3px 3px rgb(207, 179, 250);
                font-family: var(--over-pass);
                font-size: 25px;
            }
            .imagen-logo{
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
        /* Contenedor de la lista de precios */
    .contenedor-listas{
        display: flex;
        justify-content: center;
        margin:10px 20px 80px 10px;
        .precios-listas{
            width: 320px;
            height: 650px;
            /* Contenedores de las listas */
            .listas{
                background-color: var(--tercero);
                width: 100%;
                height: auto;
                padding: 15px;
                border-radius: 20px;
                list-style-type: none;
                border-radius: 10px;
                background: linear-gradient(145deg, map-get($paleta-claros, colorC2), map-get($bordes-celestes, colorB2));
                box-shadow:  3px 3px 5px #E5CFF7,
                            -3px -3px 5px #713ABE;
                /* Contenedores de los precios */
                .precio{
                    background-color: var(--primero);
                    margin: 10px;
                    padding-top: 15px;
                    border-radius: 10px;
                    border: 1px solid black;
                    font-family: var(--over-pass);
                    font-size: 17px;
                    font-weight: 5px;
                    text-align: center;
                }
            }
        }
    }
}

/* Seccion de preguntas frecuentes*/

.seccion-faq{
    width: 100%;
    height: auto;
    /* Banner de preguntas frecuentes */
    .faq-banner{
        background-image: url("../images/Servicios/faq\ banner.jpg");
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 200px;
        text-align: center;
        font-size: 50px;
        font-weight: bold;
        color: rgb(255, 255, 255);
        text-shadow: 2px 3px 5px rgb(55, 33, 107);
    }
    /* Contenedor del faq */
    .cartas-faq{
        display: grid;
        grid-template-columns: repeat(3,33%);
        grid-template-rows: repeat(auto-fit,33%);
        gap: 15px;
        padding: 50px;
        justify-items: center;
                /* Contenedor de las preguntas */
        .contenedor-preguntas{
            background-color: var(--tercero);
            border-radius: 10px;
            border: 2px solid black;
            max-width: 100%;
            width: 400px;
            height: 300px;
            .contenedor-pregunta{
                display: flex;
                justify-content: space-between;
                padding: 10px;
                max-width: 100%;
                width: 300px;
                .icono-pregunta{
                    margin: 5px;
                    height: fit-content;
                }
                .texto-pregunta{
                        font-size: 18px;
                        font-weight: bold;
                        text-align: end;
                        margin:10px;
                        text-decoration: underline;
                }
            }
                .texto-respuesta{
                    background-color: var(--segundo);
                    border: 1px solid black;
                    margin: 15px;
                    padding: 10px;
                    height: 150px;
                    border-radius: 10px;
                    text-align: center;
                }
        }
    }
}