/* #####----Servicios-----##### */

/* Fondo de seccion de servicios */
.contenedor-titulo{
    @extend %flex-center;
    flex-direction: column;
    .servicios-titulo{
        text-align: center;
        font-size: 50px;
        font-family: $oswaldFont;
        text-shadow: 1px 1px 1px black;
        margin: 40px;
        color: map-get($paleta-claros, colorC4 );
    }
    .servicios-sub{
        text-align: center;
        font-size: 30px;
        margin-bottom: 50px;
        color: map-get($paleta-claros, colorC5 );
        text-shadow: 1px 0.5px 1px rgb(56, 53, 61);
        max-width: 100%;
        width: 380px;
    }
}

/* Seccion de las listas */
.servicios-precios{
    width: auto;
    height: auto;
    @extend %flex-center;
    flex-wrap: wrap;
    height: auto;
    /* Contenedores de los Logos */
    .contenedor-logo{
        display: flex;
        justify-content: center;
        margin: 10px;
        .precio-logo{
            background-color: map-get($paleta-claros , colorC3 );
            width: 180px;
            height: 230px;
            padding-top: 15px;
            border-radius: 10px;
            .texto-logo{
                text-align: center;
                font-family: var(--over-pass);
                font-size: 25px;
            }
            .imagen-logo{
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
        /* Contenedor de la lista de precios */
    .contenedor-listas{
        display: flex;
        justify-content: center;
        margin:10px 20px 80px 10px;
        .precios-listas{
            width: 320px;
            height: 650px;
            /* Contenedores de las listas */
            .listas{
                background-color: var(--tercero);
                width: 100%;
                height: auto;
                padding: 15px;
                border-radius: 20px;
                list-style-type: none;
                border-radius: 10px;
                background: linear-gradient(145deg, map-get($paleta-claros, colorC2), map-get($bordes-celestes, colorB2));
                box-shadow:  3px 3px 5px #E5CFF7,
                            -3px -3px 5px #713ABE;
                /* Contenedores de los precios */
                .precio{
                    background-color: var(--primero);
                    margin: 10px;
                    padding-top: 15px;
                    border-radius: 10px;
                    border: 1px solid black;
                    font-family: var(--over-pass);
                    font-size: 17px;
                    font-weight: 5px;
                    text-align: center;
                }
            }
        }
    }
}

/* Seccion de preguntas frecuentes*/

.seccion-faq{
    width: 100%;
    height: auto;
    /* Banner de preguntas frecuentes */
    .faq-banner{
        background-image: url("../images/Servicios/BannerFAQ.webp");
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 200px;
        text-align: center;
        font-size: 50px;
        font-weight: bold;
        color: rgb(255, 255, 255);
        text-shadow: 2px 3px 5px rgb(55, 33, 107);
    }
    /* Contenedor del faq */
    .cartas-faq{
        display: grid;
        grid-template-columns: repeat(3,33%);
        grid-template-rows: repeat(auto-fit,33%);
        gap: 15px;
        padding: 50px;
        justify-items: center;
                /* Contenedor de las preguntas */
        .contenedor-preguntas{
            background-color: var(--tercero);
            border-radius: 10px;
            border: 2px solid black;
            max-width: 100%;
            width: 400px;
            height: 300px;
            .contenedor-pregunta{
                display: flex;
                justify-content: space-between;
                padding: 10px;
                max-width: 100%;
                width: 300px;
                .icono-pregunta{
                    margin: 5px;
                    height: fit-content;
                }
                .texto-pregunta{
                        font-size: 18px;
                        font-weight: bold;
                        text-align: end;
                        margin:10px;
                        text-decoration: underline;
                }
            }
                .texto-respuesta{
                    background-color: var(--segundo);
                    border: 1px solid black;
                    margin: 15px;
                    padding: 10px;
                    height: 150px;
                    border-radius: 10px;
                    text-align: center;
                }
        }
    }
}

.animate__animated.animate__slideInDown {
    --animate-duration: 0.8s;
}