/* #####----SOBRE-MI-----##### */

/* Titulo con descripcion e imagen */
main{
    background-color: #F5EFFF;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23e5d9f2' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23cdc1ff' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23e2d5f4' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23d6caff' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23ded0f7' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23dfd3ff' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23d9cbf9' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23e7ddff' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23d4c6fc' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%23eee6ff' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23cdc1ff' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23f5efff' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}
.sobre-mi-contenedor{
    height: 700px;
    background-image: url("../images/sobre-mi/img-sobremi-banner.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
        .sobre-mi-textos{
            margin: 10px 10px 10px 50px;
            padding: 20px;
            background-color: black;
            opacity: 0.8;
            border-radius: 20px;
            border: 3px solid map-get($paleta-claros, colorC4);
            box-shadow: 5px 5px 5px map-get($paleta-claros, colorC3);
            max-width: 100%;
            width: 500px;
            margin: 30px;
            height: auto;
            .sobre-mi-titulo{
                font-weight: bold;
                font-size: 36px;
                font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                color:map-get($paleta-claros, colorC3);
                text-align: center;
            }
            .sobre-mi-texto{
                font-weight: bold;
                font-size: 20px;
                color: map-get($paleta-claros, colorC1);
                text-align: justify;
            }
        }
}



/* Separador de pagina sobre mi */
.img-client{
    padding: 10px;
}

/* Herramientas */
.herramientas-inicio{
    @extend %flex-c-center;
    .herramientas-subtitulo{
        background-color: map-get($paleta-claros, colorC3);
        max-width: 100%;
        width: 1235px;
        margin: 50px;
        padding: 20px;
        border-radius: 10px;
        border: 1px solid map-get($paleta-claros, colorC5);
        opacity: 0.8;
    }
    .herramientas-sub{
        font-family: $oswaldFont;
        font-size: 36px;
        color: map-get($paleta-claros, colorC5);
        text-align: center;

    }
    .herramientas-text{
        font-family: $overpassFont;
        font-size: 20px;
        width: auto;
    }
}
.herramientas-contenedor{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    .herramientas-items{
        background-color: $colorDos;
        max-width: 100%;
        width: 475px;
        padding: 15px;
        border: 5px solid $colorDos;
        border-radius: 10px 0px 0px 10px;
        .item{
            border: 3px solid $colorUno ;
            width: 100%;
            height: 20%;
            padding: 10px;
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            .item-texto{
                text-align: end;
                font-size: 24px;
            }
        }
    }
    .imagen-herramienta{
        max-width: 100%;
        width: 750px;
        height: 720px;
        margin-right: 2px;
        border-radius: 0px 10px 10px 0px;
    }
}

/* Clientes */

.section-clientes{
    @extend %flex-c-center;
    .titulo-clientes{
        text-align: center;
        margin: 100px 0px 100px 0px;
        padding-top: 50px;
        font-size: 75px;
        height: 150px;
        max-width: 100%;
        width: 1229px;
        font-family: $oswaldFont;
        background-color: map-get($paleta-claros, colorC3);
        opacity: 0.8;
        border-radius: 15px;
        box-shadow: 0 0 20px;
    }
    
    .clientes{
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        gap: 36px;
        margin-bottom: 30px;
        padding: 30px 80px 30px 80px;
        .clientes-testimonios{
            background-color: $colorTres;
            border-radius: 5px;
            margin: 25px;
            width: 350px;
            max-height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: end;
            .clientes-estrellas{
                img{
                    padding: 15px;
                }
            }
            .clientes-texto{
                text-align: center;
                padding: 10px;
                margin: 5px;
                font-size: 15px;
            }
            .cliente-perfil{
                display: flex;
                justify-content:center;
                align-items: end;
                margin: 5px;
                padding: 0px 10px 0px 10px;
                .nombre-cliente{
                    font-size: 15px;
                    font-weight: bold;
                    padding: 10px;
                }
                .rol-cliente{
                    font-style: italic;
                    font-size: 10px;
                    padding: 5px;
                }
                .imagen-cliente{
                    max-height: 100%;
                    height: 100px;
                }
            }
        }
    }
}



