*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --primero: #E2E2E2;
    --segundo:#BBBAC6;
    --tercero:#B7CECE;
    --cuarto: #6E7E85;
    --quinto:#1C0F13;
    --lexend: 'Lexend', sans-serif;
    --over-pass: 'Overpass', sans-serif;
    --logo-blackrose: 'Vujahday Script';
    --titulo-sobremi: 'Dela Gothic One';
}

main section{
    font-family: 'Lexend', sans-serif;
    font-family: 'Overpass', sans-serif;
}
